<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stocks and People</title>
        <meta name=Social Network for Investors and Traders">
        <meta name="viewport" content="width=device-width">


      <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

	<body>
		<div id="container">
		<div id="logo-nav">
			<img src="/img/logo-nav.png">
				  </div>

		<nav id="nav">
			<img src="/img/vnav.jpg">
			</nav>

		<div id"spreecast-player">
		<iframe id="spreecast-player" type="text/html" width="810" height="725" src="http://www.spreecast.com/channels/stocks-people/embed-large" frameborder="0"></iframe>

		</div>






			<footer>

			</footer>

		</div>
	</body>
</html>
